<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Giriş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4>
      <img src="../assets/icon/icons8-lock-female-user-100.png">

    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
    <ion-row>
      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <p></p>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating" color="primary">Şifre</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
            <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Giriş</ion-button>

            <label class="error-message">{{errorMessage}}</label>
        </ion-col>
        <ion-col col-4></ion-col>
      
    </ion-row>
  </form>
  <ion-row></ion-row>
  <ion-row>
    <p class="go-to-register">
      Hesabınız yok mu? <a (click)="goToRegisterPage()"> Kaydolun</a>
    </p>
  </ion-row>
  <ion-row>
    <p class="go-to-register">
      Şifrenizi mi unuttunuz? <a (click)="goToForgetPage()"> Şifrenizi Değiştirin</a>
    </p>
  </ion-row>
  <ion-row>
    <p></p>
  </ion-row>
  <ion-row>
    <button (click)="changeText()" ion-button>{{text}}</button>
  </ion-row>




</ion-content>